@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:600,700,300,800,500,400|Bakbak+One:400|La+Belle+Aurore:400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/64735ffe53a6f6f785a055b4.64735fff7aff4642d0000162.2wFE5cd.hcp.png");



.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}

.button-today {
  height: 27px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -2px;
  width: 110px;
}

.cloudyn {
  background-color: transparent;
  height: 50px;
  position: absolute;
  width: 50px;
}